<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL Database Connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1111</property>

        <!-- Hibernate Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- DDL Auto -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Добавление аннотированных классов -->
        <mapping class="com.example.restaurant.entity.Restaurant"/>
        <mapping class="com.example.restaurant.entity.RestaurantTable"/>
        <mapping class="com.example.restaurant.entity.Chef"/>
        <mapping class="com.example.restaurant.entity.Menu"/>
        <mapping class="com.example.restaurant.entity.Administrator"/>
        <mapping class="com.example.restaurant.entity.Visitor"/>
    </session-factory>
</hibernate-configuration>
